{{ define "slack.title" }}
{{ if eq .Status "firing" }}🚨 ALERT FIRING{{ else }}✅ ALERT RESOLVED{{ end }} - TaskManagement
{{ end }}

{{ define "slack.text" }}
{{ if eq .Status "firing" }}
*{{ .Alerts.Firing | len }} Alert(s) Firing*
{{ range .Alerts.Firing }}
*{{ .Annotations.summary }}*
{{ .Annotations.description }}
*Service:* {{ .Labels.service }}
*Severity:* {{ .Labels.severity }}
*Started:* {{ .StartsAt.Format "2006-01-02 15:04:05 UTC" }}
{{ end }}
{{ else }}
*{{ .Alerts.Resolved | len }} Alert(s) Resolved*
{{ range .Alerts.Resolved }}
*{{ .Annotations.summary }}*
{{ .Annotations.description }}
*Service:* {{ .Labels.service }}
*Duration:* {{ .StartsAt.Format "15:04:05" }} - {{ .EndsAt.Format "15:04:05" }}
{{ end }}
{{ end }}

<{{ .ExternalURL }}|View in AlertManager> | <http://localhost:3000|View in Grafana>
{{ end }}

{{ define "slack.color" }}
{{ if eq .Status "firing" }}danger{{ else }}good{{ end }}
{{ end }}